# LLM（阿里百炼 OpenAI 兼容接口）
DASHSCOPE_API_KEY=sk-ws-H.EXILPII.d9FP.MEUCIQDmRVvmq5YxaM11xg9_wGSWfqZSsimzIDl6YDc0bhxb2QIgQrG59bcDXcgY1XqUrsbocILdwmsRfdDOXxL-40f8rOY
QWEN_MODEL=qwen-plus
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# 搜索工具（https://tavily.com）
TAVILY_API_KEY=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

# 会话持久化
SQLITE_DB_PATH=./data/checkpoints.db
